/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight
Default: 400
Medium: 500
semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
medium: 1.2
paragrapg default: 1.6

- Letter spacing
-0.5px
-0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints: 
#fdf2e9
#fae5d3
#eb984e


- Shades: 
#cf711f
#45260a

- Accents:
- Greys:

#888
#767676 (lightest grey allowed on #fff)
#6F6F6F (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Defualt: 9px
Medium: 11px

--- 07 WHITESPACE

- Sopacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-background: #1b3c53;
  --section-background: #234c6a;
  --secondary-ui-elements: #456882;
  --text-light-backgrounds: #e3e3e3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-background);
  color: var(--text-light-backgrounds);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.primary-title {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.line {
  display: block;
  border-radius: 12px;
  width: 32px;
  height: 4px;
  background-color: var(--secondary-ui-elements);
  margin-right: 6px;
}
