/* @media (max-width: 768px) { } Mobile @media (max-width: 640px) {} /* */
/* Ta @media (min-width: 641px) and (max-width: 1024px) {} Laptop blet */
/* @media (min-width: 1025px) and (max-width: 1280px) {} Desktop @media
/* (min-width: 1281px) {} */

@media (max-width: 640px) {
  .hero-container {
    flex-direction: column;
  }

  .image_box {
    height: 300px;
  }

  .inner-text-nox {
    width: 100%;
  }

  .available_state {
    width: 45%;
    font-size: 10px;
    /* padding: 5px 24px; */
  }

  .hero-text {
    margin-bottom: 12px;
  }

  .hero-container p {
    /* font-size: 18px; */
    margin-bottom: 32px;
  }

  .btn-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    /* gap: 16px; */
  }

  .btn {
    font-size: 16px;
    padding: 16px 32px;
  }

  .my-service-cards--container {
    flex-direction: column;
  }

  .selected-work-cards--container {
    flex-direction: column;
  }
}
